body {
  margin: 0;
}


.title {
  height: 32px;
  background-color: #ececec;
  -webkit-app-region: drag;
  border-bottom:1px solid #000;
  background-image: url("../img/main_icon.png");
  background-repeat: no-repeat;
  background-position:left;
  background-size:50px 100%;
}